<div id="<%= dom_id reimbursement_claim %>">
  <p>
    <strong>Employee:</strong>
    <%= reimbursement_claim.employee.name %>
  </p>

  <p>
    <strong>Purpose:</strong>
    <%= reimbursement_claim.purpose %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= reimbursement_claim.amount %>
  </p>

  <p>
    <strong>Date of expenditure:</strong>
    <%= reimbursement_claim.date_of_expenditure %>
  </p>

  <p>
    <strong>Receipt url:</strong>
    <%= reimbursement_claim.receipt_url %>
  </p>

</div>
