<!DOCTYPE html>
<html>
  <head>
    <title>EmployeeReimbursementPortal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
  <nav>
    <% unless controller_name.in?(%w[sessions registrations]) %>
      <% if user_signed_in? %>
        <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
